{% macro html(id="conditions_form") -%}
<form id="{{ id }}">
	<fieldset class="form-group" style="margin-bottom: 0">
		<div class="container">
			<div class="conditions">
			</div>
			<div class="row" style="margin-top: 10px">
				<div class="col-5" style="padding: 0">
					<button id="delete-all" type="button" class="btn form-control btn-sm btn-danger">Удалить все</button>
				</div>
				<div class="col-2 offset-5" style="padding: 0">
					<button id="add" type="button" class="btn form-control btn-sm btn-primary" style="font-weight: bold;">+</button>
				</div>
			</div>
		</div>
	</fieldset>
</form>

{%- endmacro %}


{% macro js(id="conditions_form", module_name="module_name", s_table=None) -%}
<script type="text/javascript">
	
	{{ module_name }} = (function() {
		var s_table = {{ s_table or "undefined" }}
		var available_comps = []

		function get_form_selector() {
			return ("#" + "{{ id }}")
		}

		var table_fields = []

		function set_source(table_id) {
			s_table = table_id
			request_table_fields([set_cond_fields])
		}

		function request_table_fields(callbacks) {
			var post = {}
			post.id = "conditions"
			post.act = "get_table_fields" 
			post.table_id = s_table
			$.post($SCRIPT_ROOT + "{{ url_for('p_request') }}", 
			post,
			function(data) {
				if (data == "error")
					return
				table_fields = data
				for (var i = 0; i < callbacks.length; i++)
					callbacks[i]()
			})
		}

		function request_initial_data(callbacks) {
			post = {}
			post.act = "get_available_comparators" 
			$.post($SCRIPT_ROOT + "{{ url_for('p_request') }}", 
			post,
			function(data) {
				available_comps = data
			})
		}

		function set_cond_fields(fields) {
			fields = fields || table_fields
			table_fields = fields
			$(get_form_selector()).find(".cond-field").find("option").remove()

			var cond_fields = $(get_form_selector()).find(".cond-field")
			for	(var i = 0; i < cond_fields.length; i++)
				for (var j = 0; j < fields.length; j++)
					cond_fields.eq(i).append($("<option>").val(j).html(fields[j]))

			// var cond_comps = $(get_form_selector()).find("#cond-cmp")
			// for	(var i = 0; i < cond_comps.length; i++)
			// 	for (var j = 0; j < available_comps.length; j++)
			// 		cond_comps.eq(i).append($("<option>").val(j).html(available_comps[j]))
		}

		function add_condition() {
			var destination = $(get_form_selector()).find(".conditions")

			var cond_row = $("<div>", { "class": "row cond", 
			"style": "margin-bottom: 3px" })

			var cond_field = $("<select>", { "class": "cond-field form-control form-control-sm no-arrow col-6",
				"name": "fs"})

			for (var i = 0; i < table_fields.length; i++)
				cond_field.append($("<option>").val(i).html(table_fields[i]))

			var cond_cmp = $("<select>", { "class": "cond-cmp form-control form-control-sm no-arrow col-2",
				"name": "cmps",
				"style": "text-align-last: center;"})

			for (var i = 0; i < available_comps.length; i++){
				cond_cmp.append($("<option>").val(i).html(available_comps[i]))
			}

			var cond_value = $("<input>", { "class": "cond-value form-control form-control-sm col-3",
				"type": "text",
				"name":"vs"})

			var button = $("<button>", { "class": "btn btn-sm btn-danger",
				"type": "button",
				"name": "vs",
				"style": "font-weight: bold; margin-left: 1px",
				"onclick": "{{module_name}}.delete_condition(this)" })
				.html("-")

			button = $("<div class='col-1 row'>").append(button)

			cond_row.append(cond_field)
			cond_row.append(cond_cmp)
			cond_row.append(cond_value)
			cond_row.append(button)

			destination.append(cond_row)
		}

		function delete_condition(button) {
			button = $(button)
			var conditions = $(get_form_selector()).find(".cond")
			for (var i = 0; i < conditions.length; i++)
				if (button[0] == conditions.eq(i).find("button")[0])
					conditions.eq(i).remove()
		}

		function delete_all() {
			$(get_form_selector()).find(".cond").remove()
		}

		function onstart() {
			request_initial_data()
			$(get_form_selector()).find("#add").on("click", add_condition)
			$(get_form_selector()).find("#delete-all").on("click", delete_all)
		}

		function get_data() {
			var cond_fields = $("select[name='fs']")
			var cond_cmps = $("select[name='cmps']")
			var cond_values = $("input[name='vs']")

			var fields = []
			var comps = []
			var values = []

			for (var i = 0; i < cond_fields.length; i++) {
				var field_val = cond_fields.eq(i).val()
				if (field_val == null)
					return null
				fields.push(field_val)
				comps.push(cond_cmps.eq(i).val())
				values.push(cond_values.eq(i).val())
			}

			return [fields, comps, values]
		}

		return {
			"onstart": onstart,
			"selector": get_form_selector,
			"delete_condition": delete_condition,
			"delete_all": delete_all,
			"get_data": get_data,
			"set_source": set_source,
			"set_cond_fields": set_cond_fields,
		}
	})()

</script>
{%- endmacro %}