{% macro html(id="select") -%}

<select id="{{ id }}" class="form-control form-control-sm no-arrow">
</select>

{%- endmacro %}

{% macro js(id="select", module_name="select_module_name") -%}

<script type="text/javascript">
	
	{{ module_name }} = (function() {
		function get_selector() {
			return ("#" + "{{ id }}")
		}

		function set_options(arr) {
			var select = $(get_selector())
			select.find("option").remove()
			for (var i = 0; i < arr.length; i++)
				select.append($("<option>").val(i).html(arr[i]))
		}

		function set_value(a) {
			$(get_selector()).val(a)
		}

		function get_value() {
			return $(get_selector()).val()
		}

		function set_event_function(event_name, func) {
			$(get_selector()).on(event_name, func)	
		}

		function onstart() {
		}

		return {
			"onstart": onstart,
			"selector": get_selector,
			"get_data": get_value,
			"set_event_function": set_event_function,
			"set_options": set_options,
		}
	})()

</script>
{%- endmacro %}