{% macro html(id="select_form", count=2) -%}

<form id="{{ id }}">
	{% for c in range(0, count) -%}
	<select class="form-control form-control-sm no-arrow" style="margin-bottom: 3px"></select>
	{% endfor %}
</form>

{%- endmacro %}

{% macro js(id="select_form", module_name="select_form_module_name") -%}

<script type="text/javascript">
	
	{{ module_name }} = (function() {
		function get_selector() {
			return ("#" + "{{ id }}")
		}

		function get_content() {
			return $(get_selector()).children()
		}

		function get_data() {
			var result = []
			selects = get_content()
			for (var i = 0; i < selects.length; i++)
				result.push(selects.eq(i).val())
			return result
		}

		function set_event_function(event_name, func) {
			get_content().on(event_name, func)	
		}

		function onstart() {

		}

		function set_options(arr) {
			var content = get_content()
			content.find("option").remove()
			for (var j = 0; j < content.length; j++)
				for (var i = 0; i < arr.length; i++)
					content.eq(j).append($("<option>").val(i).html(arr[i]))
		}

		return {
			"onstart": onstart,
			"selector": get_selector,
			"get_content": get_content, // debug
			"get_data": get_data,
			"set_event_function": set_event_function,
			"set_options": set_options,
		}
	})()

</script>
{%- endmacro %}