{% macro card(legend="Условия", html=None) -%}
<div class="card border-secondary" style="margin-bottom: 12px">
	<div class="card-body" style="padding: 7px">
		<h5 class="card-title" style="text-align: center; font-size: 14pt">{{legend }}</h5>
		{{ html }}
	</div>
</div>

{%- endmacro %}

{% macro form(html=None) -%}
<form>
	{{ html }}
</form>

{%- endmacro %}