{# 
	table_headers
	entries
 #}
<div class="col entries">
	<table class="table table-striped table-hover table-bordered entries">
		<thead>
			{% for header in table_fields %}
				<th class="clickable" data-value="{{ loop.index0 }}">
					{{ header }}
				</th>
			{% endfor %}
		</thead>

		{% for entry in entries %}
			<tr>
				{% for col in entry %}
					<td>
						{% if col is not none %}{{ col }}{% endif %}
					</td>
				{% endfor%}
			</tr>
		{% endfor %}

	</table>
</div>