{% macro html(legenda="", delete_id="delete", exit_id="exit", save_exit_id="save-exit", save_id="save") -%}
<form>
	<fieldset>
		<legend>{{ legenda }}</legend>
		<div class="container">
			<div class="row">
				<div class="col-3" style="padding: 0">
					{% if delete_id is not none %}
					<button id="{{ delete_id }}" type="button" class="btn btn-sm btn-danger">Удалить</button>
					{% endif %}
				</div>
				<div class="col-9 text-right" style="padding: 0;">
					{% if exit_id is not none %}
					<button id="{{ exit_id }}" type="button" class="btn btn-sm btn-secondary" style="width: 85px">Выйти</button>
					{% endif %}{% if exit_id is not none %}
					<button id="{{ save_exit_id }}" type="button" class="btn btn-sm btn-success">Сохранить и выйти</button>
					{% endif %}{% if exit_id is not none %}
					<button id="{{ save_id }}" type="button" class="btn btn-sm btn-success">Сохранить</button>
					{% endif %}
				</div>
			</div>
		</div>
	</fieldset>
</form>
{%- endmacro %}

{% macro js(module_name, s_table, s_entry, show_prev_value=True) -%}
<script type="text/javascript">
	{{ module_name }} = (function() {
		var s_table = {{ s_table or "undefined" }}
		var s_entry = {{ s_entry or "undefined" }}

		var initial_data

		function extract_initial_data(received_data) {
			initial_data = []
			for (var i = received_data.length-1; i >= 0 ; i--)
				initial_data.push(String(received_data[i].value))
		}

		function initialize_entries() {
			console.log("Sending refresh request...")
			data = {}
			data.action = "get"
			{% if s_entry is not none -%}
			$.post($SCRIPT_ROOT + "{{ url_for('p_tables_editor_entry_post', s_table=s_table, s_entry=s_entry) }}",
			{%- else -%}
			$.post($SCRIPT_ROOT + "{{ url_for('p_tables_editor_new_entry_post', s_table=s_table) }}",
			{%- endif %}

				data,
				function(data) {
					console.log(data)
					if (data == "no entry")
						no_entry()
					construct_fieldset(data)
				}
			)
		}

		function construct_fieldset(data) {
			$("fieldset > div:not(.container)").remove()
			data = data.fields
			data = data.reverse()
			for (var i = 0; i < data.length; i++) {
				var value
				var form
				var type = data[i].type
				if (type == "foreign") {
					form = $("<select class='form-control' id='" + i + "''>")
					for (var j = 0; j < data[i].autocomplete_data.length; j++)
						form.append($("<option" + (data[i].value - 1 == j ? " selected" : "")  + " value='" + (j+1) + "'>").text(data[i].autocomplete_data[j])) //
					value = data[i].autocomplete_data[data[i].value - 1]
				} else {
					form = $("<input class='form-control' type='text' list='" + i + "' value='" + data[i].value + "'>")
					var datalist = $("<datalist id='" + i + "'>")
					for (var j = 0; j < data[i].autocomplete_data.length; j++)
						datalist.append($("<option>").val(data[i].autocomplete_data[j]))
					value = data[i].value
					form = form.add(datalist)
				}
				if (value == undefined) 
					value = "Не назначено"
				var div = $("<div class='form-group'>")
				div.append($("<label for='" + i + "'>").text(data[i].caption))
				{% if show_prev_value %}
				var value_element = $("<span style='color: white'>").text(value)
				div.append($("<div class='form-control-feedback'>").text("Предыдущее значение: ").append(value_element))
				{% endif %}
				div.append(form)
				$("fieldset > legend").after(div)
			}
			extract_initial_data(data)
		}

		function update_labels(values) {
			var labels = $("span")

			for (var i = 0; i < labels.length; i++)
				labels.eq(i).text(values[i])
		}

		function get_entered_data() {
			var data = []
			var inputs = $("select, input")

			for (var i = 0; i < inputs.length; i++)
				data[i] = String(inputs.eq(i).val())
			return data
		}

		function error() {
			$("fieldset").next().remove()
			var div = $("<div style='text-align: center; font-size: 16pt; margin-top: 10px;'>Ошибка запроса!</div>")
			$("fieldset").after(div)
			setTimeout(function() {
				div.remove()
			}, 3000)
		}

		function set_save_state(str) {
			if (str == "ready") {
				$("#save").text("Сохранить")
				$("#save").attr("class", "btn btn-sm btn-success")
				$("#save-exit").show()
				$("#exit").show()
			}
			if (str == "sending") {
				$("#save").text("Обработка..")
				$("#save").attr("class", "btn btn-sm btn-warning")
				$("#save-exit").hide()
				$("#exit").hide()
			}
			if (str == "warning") {
				$("#save").text("Подтвердите изменения!")
				$("#save").attr("class", "btn btn-sm btn-danger")
				$("#save-exit").hide()
				$("#exit").show()
			}
		}

		function set_delete_state(str) {
			if (str == "ready") {
				$("#delete").text("Удалить")
				$("#delete").attr("class", "btn btn-sm btn-danger")
				$("#save").show()
				$("#save-exit").show()
				$("#exit").show()
			}
			if (str == "sending") {
				$("#delete").text("Удаление..")
				$("#delete").attr("class", "btn btn-sm btn-warning")
				$("#save").hide()
				$("#save-exit").hide()
				$("#exit").hide()
			}
			if (str == "warning") {
				$("#delete").text("Подтвердите удаление!")
				$("#delete").attr("class", "btn btn-sm btn-danger")
				$("#save").hide()
				$("#save-exit").hide()
				$("#exit").show()
			}
		}

		function onstart() {
			initialize_entries()
		}

		function set_initial_data(value) {
			initial_data = value
		}

		function get_initial_data() {
			return initial_data
		}

		function no_entry() {
			$("legend").html("<center>Записи не существует</center>")
			$("legend").next().hide()
		}

		return {
			"onstart": onstart,
			"set_save_state": set_save_state,
			"set_delete_state": set_delete_state,
			"error": error,
			"get_entered_data": get_entered_data,
			"update_labels": update_labels,
			"set_initial_data": set_initial_data,
			"get_initial_data": get_initial_data,
			"no_entry": no_entry,
		}
	})()

</script>
{%- endmacro %}