{#
	hrefs	
#}
{% extends "raw.html" %}
{% block body %}
<center>
	<h2 style="margin: 25px 0 25px 0;">{{ _title }}</h2>
	<div class="btn-group-vertical">
	{% for h in hrefs %}
		<a href="{{ url_for(h[0]) }}" class="btn btn-primary" style="font-size: 14pt">{{ h[1] }}</a>
	{% endfor %}
	</div>
</center>
{% endblock %}