{% extends "raw.html" %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
 	<div class="container">
		<a class="navbar-brand" href="{{ url_for('p_index') }}">Главная</a>
	</div>
</button>
</nav>
<div class="container" style="margin-top: 10px; height: 90%">
	{% block content %}{% endblock %}
</div>
{% endblock %}

