<!DOCTYPE html>
<html style="height: 100%">
<head>
	<meta charset="UTF-8">
	<title>{{ _title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/cyborg_boot.min.css') }}">
	<style>
		@media (min-width: 768px) {
			.container{
				max-width: 768px;
			}
		}
		@media (min-width: 992px) {
			.container{
				max-width: 992px;
			}
		}
		@media (min-width: 1200px) {
			.container{
				max-width: 1200px;
			}
		}
		@media (min-width: 1600px) {
			.container{
				max-width: 1600px;
			}
		}
		@media (min-width: 1900px) {
			.container{
				max-width: 1850px;
			}
		}

		select.no-arrow {
		        /*for firefox*/
		        -moz-appearance: none;
		        /*for chrome*/
		        -webkit-appearance:none;
		      }

		/*for IE10*/
		select.no-arrow::-ms-expand {
		    display: none;
		}

		.highlight-warning {
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1), 0 0 16px rgba(255,152,0,0.8);
		}

		table.table-borderless td {
			border: none;
		}

		table.table-borderinside td {
			border: none;
			border-bottom: 1px solid lightgray;
			border-right: 1px solid lightgray;
		}

		table.table-borderinside td:last-child {
			border-right: none;
		}

		table.table-borderinside tr:last-child td {
			border-bottom: none;
		}

		.clickable {
			cursor: pointer;
		}

	</style>
</head>
<body style="margin: 0px; height: 100%">
	{% block body %}{% endblock %}

	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
	{% block js %}{% endblock %}
</body>
</html>