{# 
	s_value
	s_field
	fields
 #}
{% extends "main.html" %}
{% block content %}
<div class="row">
	<div class="col-sm-12 col-md-2">
		<form action="{{ url_for('p_schedule') }}">
			<div class="form-group">
				<select name="f" class="form-control">
					{% for option in table_fields %}
						<option {% if s_field is defined and loop.index0 == s_field|int %} selected {% endif %} value={{ loop.index0 }}>{{ option }}</option>
					{% endfor %}
				</select>
				<input type="text" name="v" class="form-control" style="margin-top:5px;" value="{{ s_value }}">
			</div>
			<input type="submit" value="Показать" class="btn btn-primary">
		</form>
	</div>

	{% include "entries.html" %}
</div>
{% endblock %}