{% import "entry_edit_form.html" as FORM %}
{% extends "raw.html" %}
{% block body %}
<div class="container" style="margin-top: 10px">
	<div class="row">
		<div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
			{% block include_form_html %}
			{{ FORM.html(legenda) }}
			{% endblock %}
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
{{ super() }}

{% block include_form_js %}
{{ FORM.js("form", s_table, s_entry or none) }}
{% endblock %}

{% block data_handling %}
<script type="text/javascript">
	function handle_received_data(data) {
		console.log(data)
		if (data == "error") {
			form.error()
			form.set_save_state("ready")
			return true
		}
		if (data == "no entry") {
			form.no_entry()
			return true
		}
		return false
	}

	function send_changes(callbacks) {
		form.set_save_state("sending")
		entered_data = form.get_entered_data()
		data.action = "update"
		data.entered_data = entered_data
		data.initial_data = form.get_initial_data
		$.post($SCRIPT_ROOT + "{{ url_for('p_tables_editor_entry_post', s_table=s_table, s_entry=s_entry) }}",
			data,
			function(data) {
				form.set_save_state("ready")
				if (handle_received_data(data)) return
				form.set_initial_data(data.values)
				if (data.state == "confirm")
					form.set_save_state("warning")
				else
					form.set_save_state("ready")
				form.update_labels(data.value_captions)
				for (var i = 0; i < callbacks.length; i++)
					callbacks[i](data.state)
			}
		)
	}

	function send_delete(callbacks) {
		form.set_delete_state("sending")
		data.action = "delete"
		data.initial_data = form.get_initial_data
		$.post($SCRIPT_ROOT + "{{ url_for('p_tables_editor_entry_post', s_table=s_table, s_entry=s_entry) }}",
			data,
			function(data) {
				form.set_delete_state("ready")
				if (handle_received_data(data)) return
				form.set_initial_data(data.values)
				if (data.state == "confirm")
					form.set_delete_state("warning")
				else
					form.set_delete_state("ready")
				if (data.value_captions)
					form.update_labels(data.value_captions)
				for (var i = 0; i < callbacks.length; i++) {
					callbacks[i](data.state)
				}
			}
		)
	}

</script>
{% endblock %}

<script type="text/javascript">

	function exit(state) {
		if (state == "confirm") return
		window.opener.onchildclose()
		window.close()
	}

	$(function(){
		form.onstart()
		$("#save").on("click", send_changes)
		$("#delete").on("click", function() {
			send_delete([exit])
		})
		$("#save-exit").on("click", function() {
			send_changes([exit])
		})
		$("#exit").on("click", exit)
	})

</script>


{% endblock %}

