{# 
	tables_caption
 #}
{% extends "main.html" %}
{% block content %}
<div class="page-header" style="margin-bottom: 5px; margin-top: 1px">
	<ul class="nav nav-pills">
		{% for cap in tables_caption %}
		<li class="nav-items"><a href="{{ url_for('p_tables_query', s_table=loop.index0) }}" class="nav-link">{{ cap }}</a></li>
		{% endfor %}
	</ul>
</div>
<div class="row">
	<div class="col-sm-12 col-md-2">
		{% if s_table is not none %}
		<form>
			<fieldset class="form-group" style="margin-bottom: 10px">
				<legend>WHERE запросы</legend>
			</fieldset>
			<div class="container">
				<div class="row">
					<div class="col-3" style="padding: 0">
						<button id="add" type="button" class="btn btn-sm btn-primary" style="font-weight: bold;">+</button>
					</div>
					<div class="col-9 text-right" style="padding: 0;" >
						<input name="page_size" value="" onchange="on_change.call(this)" type="text" class="form-control form-control-sm text-center" style="width: 45px; display: inline-block;">
						{# <select class="form-control form-control-sm no-arrow">
							<option value="AND">AND</option>
							<option value="OR">OR</option>
						</select> #}

							<button id="send" type="button" class="btn btn-sm btn-warning" style="width: 85px"></button>
					</div>
				</div>
				<div class="row" style="margin-top: 10px">
					<div class="col d-flex" style="padding: 0">
						<ul id="pagination" class="pagination pagination-sm mx-auto">
						</ul>
					</div>
				</div>
			</div>
		</form>
		{% endif %}
	</div>

	{% include "entries.html" %}
</div>
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript">
	{# var table_fields = [{% ','.join(table_fields) %}] #}
	var table_fields = []
	{% for f in table_fields -%}
	table_fields.push("{{ f }}")
	{% endfor %}

	var all_comps = []
	{% for c in comps -%}
	all_comps.push("{{ c }}")
	{% endfor %}

	var send_disabled = false
	{% if s_table is not none %}s_table = {{ s_table }} {% else %} undefined {% endif %}

	var g_data
	var g_state
	var g_page_num = -1
	var g_count
	var g_order_by = []

	function build_pagination(count=0, selected=0) {
		var out_count = 5
		out_count = Math.min(count, out_count)
		$this = $("ul#pagination")
		$this.children().remove()
		if (count <= 1 || !count ) return

		$li = $("<li class=\"page-item\"></li>")
		$p = $("<p class='page-link clickable' onclick='on_pagelink_click(this)'></p>")

		$li_l = $li.clone()
		$p_c = $p.clone()
		$p_c.text("«")
		$p_c.data("value", "prev")
		$li_l.append($p_c)

		$li_r = $li.clone()
		$p_c = $p.clone()
		$p_c.text("»")
		$p_c.data("value", "next")
		$li_r.append($p_c)

		if (selected == 0)
			$li_l.addClass("disabled")
		else if (selected == count - 1)
			$li_r.addClass("disabled")

		var half = Math.floor(out_count / 2)
		var id = 0
		if (selected - half < 0) {
			id = 0
		} else if (selected + half >= count) {
			id = count - out_count
		} else
			id = selected - half

		$this.append($li_l)
		for (var i = 0; i < out_count; i++) {
			$li_c = $li.clone()
			$p_c = $p.clone()
			$p_c.data("value", id)
			if ((i == 0 && id != 0) || (i == out_count - 1 && id != count - 1))
				$p_c.text("...")
			else
				$p_c.text(id + 1)
			if (id == selected)
				$li_c.addClass("active")

			$li_c.append($p_c)
			$this.append($li_c)
			id = id + 1
		}
		$this.append($li_r)
							
	}

	function select_page(page) {
		g_page_num = page
		build_pagination(Math.ceil(g_count / g_data.page_size), page)
	}

	function toggle_order_by() {
		$this = $(this)
		v = $this.data("value") + 1
		id = g_order_by.indexOf(v)
		if (id == -1) {
			g_order_by.push(v)
		} else {
			g_order_by.splice(id, 1)
			$this.removeAttr("style")
		}

		$ths = $("th.clickable")
		for (var i = 0; i < g_order_by.length; i++) {
			$ths.eq(g_order_by[i] - 1).attr("style", "color:" + "hsl(200, 100%, " + (50 + i * (40 / g_order_by.length)) + "%)" )
		}


		send_request(g_page_num)

	}

	function send_request(page_num) {
		if (!s_table || send_disabled)
			return false;

		if (page_num != -1 && !g_data)
			return false
		last_state = g_state
		$this = $("button#send")
		$this.text("Загрузка..")
		$this.attr("class", "btn btn-sm btn-secondary")

		var data = {}

		if (page_num != -1) {
			data = g_data
			data.page_num = page_num
		} else {
			var field_ops = $("select[name='fs']").find(":selected")
			var comp_ops = $("select[name='cmps']").find(":selected")
			var value_ops = $("input[name='vs']")

			var fields = []
			var comps = []
			var values = []

			for (var i = 0; i < field_ops.length; i++) {
				fields.push(field_ops.eq(i).val())
				comps.push(comp_ops.eq(i).val())
				values.push(value_ops.eq(i).val())
			}

			data.fields = fields
			data.comps = comps
			data.values = values

			data.page_size = parseInt($("input[name='page_size']").val())

			g_data = data
		}
		
		if (g_order_by.length != 0)
			data.order_by = g_order_by

		$.post($SCRIPT_ROOT + "{{ url_for('p_tables_query', s_table=s_table) }}", 
			data,
			function(data) {
				if (data == "-1") {
					set_button_error()
					return
				}
				g_count = data.count
				if (page_num != -1) {
					set_button_by_state(last_state)
					select_page(page_num)
				} else { 
					set_button_ready()
					g_page_num = 0
					select_page(g_page_num)
				}
				update_entries(data.entries)
			})

		return false;
	}

	$(function(){
		$("button#send").bind("click", function() {
			send_request(-1)
		})

		$("button#add").bind("click", add_condition)
		$("th.clickable").bind("click", toggle_order_by)
		set_button_disabled()
		build_pagination()
	})

	function update_entries(ents) {
		$("table.entries > tbody").remove()
		var $table = $("table.entries")
		var $tbody = $("<tbody>")
		for (var i = 0; i < ents.length; i++) {
			var $tr = $("<tr>")
			for (var j = 0; j < ents[i].length; j++) {
				var $td = $("<td>").text(ents[i][j])
				$tr.append($td)
			}
			$tbody.append($tr)
		}
		$table.append($tbody)
	}

	function set_button_changed() {
		g_state = 1
		$b = $("button#send")
		$b.text("Отправить")
		$b.attr("class", "btn btn-sm btn-warning")
		send_disabled = false
	}

	function set_button_disabled() {
		set_button_ready()
	}

	function set_button_ready() {
		g_state = 2
		$b = $("button#send")
		$b.text("Готово")
		$b.attr("class", "btn btn-sm btn-success")
		$("fieldset.form-group > legend").nextAll().children().children().removeClass("highlight-warning") // need to optimize	
		$("input[name='page_size'").removeClass("highlight-warning")
		send_disabled = false
	}

	function set_button_error() {
		g_state = -1
		$b = $("button#send")
		$b.text("ОШИБКА")
		$b.attr("class", "btn btn-sm btn-danger")
		send_disabled = false
	}

	function set_button_by_state(s) {
		switch (s) {
			case -1:
				set_button_error()
			break
			case 0:
				set_button_disabled()
			break
			case 1:
				set_button_changed()
			break
			case 2:
				set_button_ready()
			break
		}
	}

	function on_change() {
		$this = $(this)
		var a = $this.data("prev-value")
		if ($this.data("prev-value")) {
			if ($this.val() != $this.data("prev-value")) {
				set_button_changed()
				$this.addClass("highlight-warning")
			}
		} else
			if ($this.val() != $this.prop("defaultValue")) {
				set_button_changed()
				$this.addClass("highlight-warning")
			}

		$this.data("prev-value", $this.val())
	}

	function add_condition() {

		var $fieldset = $("fieldset")
		var $d_form_group = $("<div>", { "class": "container", "style": "margin-bottom: 3px" })
		var $d_row = $("<div>", { "class": "row" })

		var $select_op = $("<option>")
		var $sel_field = $("<select>", { "class": "form-control form-control-sm no-arrow col-6", "name": "fs", "onchange": "on_change.call(this)" })
		var $op 
		for (var i = 0; i < table_fields.length; i++){
			$op = $select_op.clone()
			$op.val(i)
			$op.html(table_fields[i])
			$sel_field.append($op)
		}
		$sel_field.addClass(("highlight-warning"))

		var $sel_cmp = $("<select>", { "class": "form-control form-control-sm no-arrow col-2", "name": "cmps", "style": "text-align-last: center;", "onchange": "on_change.call(this)" })
		for (var i = 0; i < all_comps.length; i++){
			$op = $select_op.clone()
			$op.val(i)
			$op.html(all_comps[i])
			$sel_cmp.append($op)
		}
		$sel_cmp.addClass("highlight-warning")

		var $in_value = $("<input>", { "class": "form-control form-control-sm col-3", "type": "text", "name":"vs", "onchange": "on_change.call(this)" })
		$in_value.addClass("highlight-warning")

		var $d_button = $("<div>", { "class": "col-1 row" })
		var $button = $("<button>", { "class": "btn btn-sm btn-danger", "type": "button", "name": "vs", "style": "font-weight: bold; margin-left: 1px", "onclick": "remove_condition(this)" })
		$button.html("-")

		$d_button.append($button)
		$d_row.append($sel_field)
		$d_row.append($sel_cmp)
		$d_row.append($in_value)
		$d_row.append($d_button)
		$d_form_group.append($d_row)
		$fieldset.append($d_form_group)

		set_button_changed()
	}

	function remove_condition(but) {
		$but = $(but)
		$statements = $("fieldset.form-group > legend").nextAll()
		for (var i = 0; i < $statements.length; i++)
			if ($but[0] == $statements.eq(i).find("button")[0])
				$statements.eq(i).remove()

			set_button_changed()
	}

	function on_pagelink_click(p) {
		$p = $(p)
		var v = $p.data("value")
		if (v === "prev")
			v = g_page_num - 1
		else if (v === "next")
			v = g_page_num + 1
		send_request(v)
	}
						
</script>
{% endblock %}