{% extends "main.html" %}
{% block content %}
<div class="row">
	<div class="col-sm-12 col-md-2">
		<form action="{{ url_for('p_tables') }}">
			<div class="form-group">
				<select name="t" class="form-control">
					{% for option in tables %}
						<option {% if selected is defined and loop.index0 == selected|int %} selected {% endif %} value={{ loop.index0 }}>{{ option }}</option>
					{% endfor %}
				</select>
			</div>
			<input type="submit" value="Показать" class="btn btn-primary">
		</form>
	</div>
	{% with table_fields = table_columns %}
		{% include "entries.html" %}
	{% endwith %}
</div>
{% endblock %}