{# 
	tables_caption
#}

{% import "forms/conditions_form.html" as CONDS %}
{% import "forms/select.html" as SELECT %}
{% import "forms/select_form.html" as SELECT_FORM %}
{% import "decorators.html" as DECOR %}

{% macro analytic_table() %}
<table id="analytic_table" class="table table-striped table-bordered">
</table>
{% endmacro %}


{% extends "main.html" %}
{% block content %}
<div class="row" style="height: 100%">
	{# control panel #}
	<div class="col-sm-12 col-md-2">
		<div class="container">
			<div class="row">

				<div class="col" style="padding:0;">
					{{ DECOR.card("Таблица", SELECT.html("select_table")) }} 
					{{ DECOR.card("Параметры аналитики", SELECT_FORM.html("select_params", 2)) }} 
					{{ DECOR.card("Условия", CONDS.html("condition_form")) }} 
					<button id="submit" class="form-control btn btn-primary pull-right">Отправить</button>
				</div>
			</div>
		</div>
	</div> 
	<div class="col" style="overflow: auto; max-height: 100%">
		{{ analytic_table() }}
	</div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
{{ CONDS.js("condition_form", "cond_form") }}
{{ SELECT.js("select_table", "select_table") }}
{{ SELECT_FORM.js("select_params", "select_params") }}

<script type="text/javascript">

	analytic_table = function() {
		var content = []
		var vert_heading = []
		var hori_heading = []

		var selected_fields_id = []

		function get_value_to_index(array) {
			var dict = {}
			for (var i = 0; i < array.length; i++)
				dict[array[i]] = i
			console.log(array, dict)
			return dict
		}

		function get_selector() {
			return "#analytic_table"
		}

		function set_headers(hori, vert) {
			vert_heading = vert
			hori_heading = hori

			selected_fields_id = select_params.get_data()

			rebuild_html()
		}

		function set_content(entries) {
			content = entries
			update_entries()
		}

		function update_entries() {
			var vert_value_to_index = get_value_to_index(vert_heading)
			var hori_value_to_index = get_value_to_index(hori_heading)

			$(get_selector()).find(".entry").remove()

			for (var i = 0; i < content.length; i++) {
				add_entry_to_cell(hori_value_to_index[content[i][selected_fields_id[0]]],
					vert_value_to_index[content[i][selected_fields_id[1]]],
					content[i]) 
			}
		}

		function add_entry_to_cell(x, y, entry) {
			var tbody = $(get_selector()).find($("tbody"))
			var cell = tbody.children().eq(y).children().eq(x+1).children()
			cell.append(create_html_entry(entry))

		}

		function create_html_entry(entry) {
			var tr = $("<tr class='entry'>")
			for (var i = 0; i < entry.length; i++) {
				if (i == selected_fields_id[0] || i == selected_fields_id[1] || i == 0)
					continue
				tr.append($("<td class='text-center' style='white-space: nowrap; padding: 4px 12px'>").html(entry[i] == undefined ? "Не назначено" : entry[i]))
			}
			if (tr.children().length == 0) {
				tr.css("background-color", "rgba(0,0,0,0)")
				tr.html("+")
			}
			return tr
		}

		function rebuild_html() {
			vert = vert_heading
			hori = hori_heading
			var table = $(get_selector())
			table.children().remove()

			var thead = $("<thead>")
			thead.append($("<th>"))
			for (var i = 0; i < hori.length; i++)
				thead.append($("<th>").html(hori[i]))
			table.append(thead)

			var tbody = $("<tbody>")
			for (var i = 0; i < vert.length; i++) {
				var tr = $("<tr>")
				for (var j = 0; j < hori.length + 1; j++)
					if (j == 0)
						tr.append($("<td>").html(vert[i]))
					else {
						var div = $("<center>").append($("<table>"))
						tr.append($("<td class='text-center'>").append(div))
					}
				tbody.append(tr)
			}
			
			table.append(tbody)
		}

		// function update_size() {
		// 	// $(get_selector()).height($("body").children(".container").height())
		// }

		// window.addEventListener("resize", function() {
		// 	update_size()
		// });

		return {
			"set_headers": set_headers,
			"selector": get_selector,
			"rebuild_html": rebuild_html,
			"set_content": set_content,
		}
	}()

	// ===================================

	// var tables_caption = [{{ ','.join(tables_caption) }}]
	var tables_caption = []
	var table_fields = []
	{% for f in tables_caption -%}
	tables_caption.push("{{ f }}")
	{% endfor %}

	function on_table_change() {
		var selected_table = select_table.get_data()
		request_table_fields(selected_table, [update_fields, request_fields_values])
	}

	function on_params_change() {
		request_fields_values()	
	}

	function request_table_fields(s_table, callbacks) {
		var post = {}
		post.act = "get_table_fields"
		post.table_id = s_table
		$.post($SCRIPT_ROOT + "{{ url_for('p_request') }}", 
			post,
			function(data) {
				if (data == "error")
					return
				table_fields = data
				for (var i = 0; i < callbacks.length; i++)
					callbacks[i]()
			}
		)
	}

	function request_fields_values() {
		var post = {}
		post.act = "get_fields_pretty_values"
		post.table_id = select_table.get_data()

		post.fields_id = select_params.get_data()
		
		// if post.fields_id[0] == post.fields_id[1]:
		// 	return 

		$.post($SCRIPT_ROOT + "{{ url_for('p_request') }}", 
			post,
			function(data) {
				if (data == "error")
					return
				analytic_table.set_headers(data[0], data[1])
			}
		)

	}

	function update_fields() {
		select_params.set_options(table_fields)
		cond_form.set_cond_fields(table_fields)
	}

	function make_request_data() {
		var data = {}

		data.table_id = select_table.get_data()

		var conds = cond_form.get_data()
		data.cond_fields = conds[0]
		data.cond_comps = conds[1]
		data.cond_values = conds[2]

		return data
	}

	function request_table(callbacks=[]) {
		var post = make_request_data()
		
		post.act = "get_table"

		$.post($SCRIPT_ROOT + "{{ url_for('p_request') }}", 
			post,
			function(data) {
				console.log(data)
				if (data == "error")
					return
				analytic_table.set_content(data)
				for (var i = 0; i < callbacks.length; i++)
					callbacks[i]()
			}
		)
	}

	function submit() {
		request_table()
	}

	$(function() {
		cond_form.onstart()
		select_table.onstart()
		select_params.onstart()

		$("#submit").on("click", submit)

		select_table.set_options(tables_caption)
		select_table.set_event_function("change", on_table_change)
		select_params.set_event_function("change", on_params_change)


		on_table_change()

	})
</script>
{% endblock %}