{% extends "main.html" %}
{% block content %}
<div class="page-header" style="margin-bottom: 5px; margin-top: 1px">
	<ul class="nav nav-pills">
		{% for cap in tables_caption %}
		<li class="nav-items"><a href="{{ url_for('p_tables_editor_get', s_table=loop.index0) }}" class="nav-link">{{ cap }}</a></li>
		{% endfor %}
	</ul>
</div>
<div class="row">
	<div class="col entries">
		<table class="table table-striped table-hover table-bordered entries" style="margin-bottom: 5px">
			<thead></thead>
		</table>
		{% if s_table is not none -%}
		<button id="new-entry" type="button" class="btn btn-sm btn-primary col" style="margin-top:5px; margin-bottom:5px">Новая запись</button>
		{%- endif %}
	</div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript">
	
	var s_table = {{ s_table is none and "undefined" or s_table }}
	var child_closed = false

	function refresh_entries() {
		// запросить таблицу
		// обновить в колбеке
		console.log("Sending refresh request...")
		data = {}
		data.action = "get_entries"
		$.post($SCRIPT_ROOT + "{{ url_for('p_tables_editor_post', s_table=s_table) }}",
		data,
		function(data) {
			// ожидается entries, fields_caption
			console.log("Got it!")
			console.log(data)
			update_entries(data.entries, data.fields_caption)
		})
	}
	
	function update_entries(entries, fields_caption) {
		$("table.entries > tbody").remove()
		$("table.entries > thead").remove()
		var $table = $("table.entries")
		var $thead = $("<thead>")
		for (var i = 0; i < fields_caption.length; i++)
			$thead.append($("<th>").text(fields_caption[i]))
		$table.append($thead)

		var $tbody = $("<tbody>")
		for (var i = 0; i < entries.length; i++) {
			var $tr = $("<tr class='clickable' data-id=[" + (entries[i][0] - 1) + "]>")
			$tr.on("click", open_entry_details)
			for (var j = 0; j < entries[i].length; j++) {
				var $td = $("<td>").text(entries[i][j])
				$tr.append($td)
			}
			$tbody.append($tr)
		}
		$table.append($tbody)
	}

	function open_entry_details() {
		// jquery onclick function
		var w = window.open("{{ url_for('p_tables_editor_get', s_table=s_table) }}" + "/" + $(this).data("id"))
		window.focus()
	}

	function new_entry() {
		var w = window.open("{{ url_for('p_tables_editor_new_entry_get', s_table=s_table) if s_table is not none else ''}}")
		window.focus()	
	}

	$(function(){
		if (s_table != undefined) refresh_entries()
		window.onchildclose = function() {
			child_closed = true
		}
		$(window).focus(function() {
			if (child_closed) {
				refresh_entries()
				child_closed = false
			}
		})
		$("#new-entry").on("click", new_entry)
	})

</script>
{% endblock %}